{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

    <div class="technology-article" role="main">
        <div class="sidebar">
        <h2>News</h2>
        <ul>
        {% for page in pages("technologies") %}
            <li><a class="sidebarlistitem" href="{{ page.url }}">
                {{ page.title }}
            </a></li>
        {% endfor %}
        </ul>
        </div>

        <div class="article">
            {{ content }}
        </div>
    </div>

    {% include 'incl/footer.twig' %}
</body>

</html>